@import url(https://fonts.googleapis.com/css?family=Oxygen:300,400,700);

@font-face {
    font-family: "Paul Slab";
    src: url(/recsys2018/fonts/PaulSlab.otf) format("otf");
    src: url(/recsys2018/fonts/PaulSlab-Bold-Trail.otf) format("otf");
}

@font-face {
    font-family: "Neue Montreal";
    src: url(/recsys2018/fonts/NeueMontreal.otf) format("otf");
    src: url(/recsys2018/fonts/NeueMontreal-Regular.otf) format("otf");
}

#videolist {
    background-color: transparent;
    border-color: transparent;
}

.title {
    font-family: "Neue Montreal", cursive;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 0.9em;
}

.subinfo {
    font-family: "Neue Montreal", cursive;
    font-size: 13px;
    color: dimgrey;
    display: inline;
    position: relative;
    top: 0.7em;
}

.image {
    width: 320px;
    height: 200px;
    opacity: 1;
    transition: .5s ease;
    padding-right: 5px;
    position: relative;
    top: 20px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    left: calc(170px);
    top: calc(110px);
    transform: translate(-50%, -50%);
    text-align: center;
}

.col-sm-4:hover .image {
    opacity: 0.3;
}

.col-sm-4:hover .middle {
    opacity: 1;
}

#headtitle {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    background: url("../image/listbackground.png") no-repeat center;
    background-size: 100% auto;
    border-top: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#headtitle .inner {
    text-align: center;
    position: relative;
}

#headtitle h1 {
    color: #fff;
    font-size: 5em;
    font-weight: 400;
    font-family: 'Paul Slab', cursive;
    margin: 0;
}

#headtitle p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 2em;
    font-weight: 300;
}

#move {
    background: url("../image/curvearrow.png") no-repeat center 1.35em;
    background-size: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 4em;
    width: 4em;
    z-index: 2;
    margin: 0 auto 2em auto;
}

#move:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    color: #FFF;
}

#headtitle:before {
    content: '';
    background-color: #42424f;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
}

.play {
    background: url("../image/iconfinder-icon.svg") no-repeat center;
    background-size: auto;
    display: block;
    height: 5em;
    width: 5em;
    position: relative;
    top: 1em;
}

*,
*::before,
*::after {
    box-sizing: border-box; }

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
    width: device-width; }

body {
    margin: 0;
    font-family: "Oxygen", Arial, "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.2;
    color: #999999;
    text-align: left;
    background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem; }

p {
    margin-top: 0;
    margin-bottom: 1rem; }

b,
strong {
    font-weight: bolder; }

small {
    font-size: 80%; }


img {
    vertical-align: middle;
    border-style: none; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; }

h1, .h1 {
    font-size: 2.5rem; }

h2, .h2 {
    font-size: 2rem; }

h3, .h3 {
    font-size: 1.75rem; }

h4, .h4 {
    font-size: 1.5rem; }

h5, .h5 {
    font-size: 1.25rem; }

h6, .h6 {
    font-size: 1rem; }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
@media (min-width: 576px) {
    .container {
        max-width: 740px; } }
@media (min-width: 768px) {
    .container {
        max-width: 920px; } }
@media (min-width: 992px) {
    .container {
        max-width: 1060px; } }
@media (min-width: 1200px) {
    .container {
        max-width: 1280px; } }

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%; }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none; }

    .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%; } }
/*
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2.2;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn-primary {
  margin-right: 5px;
  color: #fff;
  background-color: #f2849e;
  border-color: #f2849e; }

.btn-secondary {
  margin-right: -150px;
  color: #fff;
  background-color: #4c5e6b;
  border-color: #4c5e6b; }
*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 10px; }

.card-body:not(.btn) {
    flex: 1 1 auto;
    padding: 1.25rem; }

.card-text:not(.subinfo) {
    text-align: left;
    min-height: 40px;
    font-size: 15px;
    font-weight: 800;
}

.subinfo {
    text-align: left;
    font-family: "Neue Montreal", cursive;
    font-size: 13px;
    color: dimgrey;
    display: inline;
    position: relative;
}

.card-img {
    width: 100%;
    border-radius: calc(10px - 0); }

.card-img-top {
    width: 100%;
    max-height: 200px;
    border-top-left-radius: calc(10px - 0);
    border-top-right-radius: calc(10px - 0); }


@media print {
    *,
    *::before,
    *::after {
        text-shadow: none !important;
        box-shadow: none !important; }

    img {
        page-break-inside: avoid; }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3; }

    h2,
    h3 {
        page-break-after: avoid; }

    body {
        min-width: 992px !important; }

    .container {
        min-width: 992px !important; } }

body, main {
    background-color: #fff; }

main {
    padding-top: 1em; }


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #666666;
    font-weight: bold; }


.card-container {
    background-color: #f8f8f8;
    padding: 2rem 0; }

.card {
    margin-bottom: 1rem; }

.card blockquote.card-text {
    font-size: 1.1em; }

.card-img-top {
    height: auto; }

.card-container .card {
    box-shadow: 0px 0px 10px #dfdfdf; }

.padded-box {
    padding: 4rem 0; }


a.button{
    display:inline-block;
    padding:0.1em 0.5em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 13px;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color: #ffffff;
    text-align:center;
    float: right;
    position: relative;
    margin-right: 2%;
    margin-bottom: 2%;
}

a.button:hover {
    text-decoration:none;
}

.l1 {
    background-color: #37a9f6;
}
.l2 {
    background-color: #988CD9;
}
.l3 {
    background-color: #D47D94;
}
.l4 {
    background-color: #CF7B6E;
}
.l5 {
    background-color: #6AAFCD;
}
.l6 {
    background-color: #CC8B66;
}
.l7 {
    background-color: #CAD581;
}
.l8 {
    background-color: #9BBF40;
}
.l9 {
    background-color: #AF94DB;
}
.l10 {
    background-color: #D47DB4;
}
.l11 {
    background-color: #33997E;
}
.l12 {
    background-color: #C34B61;
}
.l13 {
    background-color: #6287CB;
}
.l14 {
    background-color: #40BFBD;
}
.l15 {
    background-color: #3D76B8;
}
.l16 {
    background-color: #2A7B7E;
}


/**
Responsive typography
https://getbootstrap.com/docs/4.0/content/typography/#responsive-typography
**/
html {
    font-size: 14px; }

html {
    font-size: 10px; }

@media (min-width: 768px) {
    html {
        font-size: 12px; }

    .card {
        margin-bottom: 0; }  }

@media (min-width: 992px) {
    html {
        font-size: 14px; } }
